$gradient1: #e9374c;
$gradient2: #d31128;
$authBorder: #dc2036;
$authShadow: rgba(0, 0, 0, 0.2);
$iconColor: #fff;
$formrBg: rgba(255, 255, 255, 0.99);
$groupBg: rgba(255, 255, 255, 0.15);
$btnColor: rgba(255, 255, 255, 0.8);
$groupBorder: #b5b5b5;
$titleColor: #454545;
