.todoHeader {
  margin-top: 5em;
  background: rgb(175, 26, 26);
  box-shadow: 2px 4px 6px rgb(189, 2, 2);
  height: 8rem;
  width: 35rem;

  &_input {
    width: 30em;
    height: 3em;
    margin-left: auto;
    margin-right: 0;
  }

  &_modal {
    color: rgb(255, 255, 255) !important;
    background: rgba(238, 37, 37, 0.793) !important;
    margin-right: 3%;
  }

  &_modal:hover {
    background: rgb(118, 19, 19) !important;
  }


  h1 {
    background: rgba(175, 26, 26, 0.918);
    margin: 0;
    color: white;
    padding-bottom: 0.5rem;
    box-shadow: 2px 4px 6px rgb(88, 8, 8);
    text-shadow: 2px 4px 6px rgb(88, 8, 8);
  }
}