.todoHeader {
  margin-top: 2%;
  background: rgb(175, 26, 26);
  box-shadow: 2px 4px 6px rgb(189, 2, 2);
  height: 8rem;
  width: 38rem;

  &_input {
    width: 28em;
    height: 3em;
    margin-left: auto;
    margin-right: 0;
  }

  &_inputGroup {
    justify-content: center;
    margin-left: 1.5em;
  }

  &_modal {
    color: rgb(255, 255, 255) !important;
    background: rgba(238, 37, 37, 0.793) !important;
    margin-right: auto;
  }

  &_modal:hover {
    background: rgb(118, 19, 19) !important;
  }


  h1 {
    background: rgba(175, 26, 26, 0.918);
    margin: 0;
    color: white;
    padding-bottom: 0.5rem;
    box-shadow: 2px 4px 6px rgb(88, 8, 8);
    text-shadow: 2px 4px 6px rgb(88, 8, 8);
  }
}


@media screen and (max-width: 400px) {
  .todoHeader {
    height: 5.2rem;
    width: 22rem;

    &_input {
      width: 12em;
      height: 2.3em;
    }

    &_modal {
      height: 2.3em;
    }
  }
}
